# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env files
.env
.env.*

# tmp files
tmp/*

# Editor/IDE
# .idea/
# .vscode/
compose.local.override.yml
docs/.obsidian/app.json
docs/.obsidian/appearance.json
docs/.obsidian/core-plugins.json
docs/.obsidian/graph.json
docs/.obsidian/workspace.json
tryon-server
.mcp.json
curl.txt
.serena/cache/go/document_symbols_cache_v23-06-25.pkl
tryon-demo

.serena/*
.cursorrules
main.go.backup
ARCHITECTURE.md

cmd/base64/images/*
cmd/base64/encoded/*
config.yaml
veo3_with_image_input.mp4

slides/*
node_modules
package-lock.json
package.json
